.background {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: background 0.5s;

  &__sign_up_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: fixed;
    z-index: 2;
    padding: 56px 72px;
    background: #FFFFFF;
    border: 1px solid #F4F5FF;
    border-radius: 20px;
    animation: modal 0.7s;
    top: 50%;
    transform: translateY(-50%);

    &__title {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    &__form {
      position: relative;
      width: 282px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      &__close_icon {
        cursor: pointer;
        position: absolute;
        right: -124px;
        top: -132px;
        width: 24px;
        height: 24px;
      }
    }

    &__subtitle {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      display: flex;
      justify-content: center;

      &__link {
        border-bottom: 1px solid #AECEF3;
        font-weight: 500;
        color: #AECEF3;
        cursor: pointer;
      }
    }
  }
}

@keyframes background {
  from{ opacity: 0}
  to{ opacity: 1 }
}

@keyframes modal {
  from{ top: 40%}
  to{ top: 50% }
}