@mixin button_styles{
  background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
  border-radius: 69px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  color: #FFFFFF;
  
  &:hover{
    cursor: pointer;
  }
}

.button{

  &__product_page{
    @include button_styles;
    display: flex;
    gap: 10px;
    padding: 19px 32px;

  }

  &__cart_page{
    @include button_styles;
    padding: 22px 99px;

  }

  &__sign{
    @include button_styles;
    padding: 22px 111px;
  }

  &__text{
    color: #FFFFFF;
  }
}