.button{
  display: flex;
  gap: 10px;
  background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
  padding: 19px 32px;
  border-radius: 69px;
  font-weight: 500;
  font-size: 1rem;
  border: none;

  &:active{
    border: none;
  }

  &__text{
    color: #FFFFFF;
  }
}