.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #F8F8F8;
  flex: 0 0 auto;

  &__nav{
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;

    &__bths_container{
      display: flex;
      gap: 53px;
      font-size: 0.875rem;
      line-height: 1rem;

      &__login_bths_container{
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__cart{
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}