.input_label{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
}

.input{
  font-size: 1rem;
  padding: 13px 16px;
  border: 1px solid #F4F5FF;
  border-radius: 8px;

  &:active, &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(33, 37, 66, 0.25);
  }
}